.pink {
    background-color: #7b7577!important;
    border-color: #e91e63!important;
}

.theme--light.v-size--default.success {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.theme--light.v-size--default.error {
    background-color: #ff5252 !important;
    border-color: #ff5252 !important;
}

.theme--light .purple {
    background-color: #1867c0 !important;
    border-color: #9c27b0!important;
}

.btn_remove {
    background: rgba(0, 0, 0, 0.15) !important;
    background-color: #e74a3b !important;
    min-width: auto !important;
}

.v-input.v-color-picker__hue.v-input--hide-details.theme--light.v-input__slider.v-color-picker__track {
    background: linear-gradient(90deg,red,#ff0 16.66%,#0f0 33.33%,#0ff 50%,#00f 66.66%,#f0f 83.33%,red);
}
.v-slider__thumb.grey.lighten-2 {
    background-color: #e0e0e0!important;
    border-color: #e0e0e0!important;
}
.v-slider__thumb-container.grey--text.text--lighten-2 {
    color: #e0e0e0!important;
    caret-color: #e0e0e0!important;
}
.v-color-picker__dot {
    margin-right: 15px;
}
i.v-icon.notranslate.mdi.mdi-folder-open.theme--light {
    color: #ff8f00!important;
    caret-color: #ff8f00!important;
}
i.v-icon.notranslate.mdi.mdi-folder.theme--light {
    color: #ffc107!important;
    caret-color: #ffc107!important;
}
.v-messages__message {
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}
label.v-label.theme--light.error--text {
    color: #ff5252 !important;
    caret-color: #ff5252 !important;
}
.pa-4.primary.lighten-2.v-sheet.theme--light {
    background-color: #1867c0 !important;
    border-color: #1867c0 !important;
}
.color-icon-remove {
    color: rgb(255 255 255)!important;
}

.my-4.subtitle-1.white--text {
    color: #fff;
}
/* Helper classes */
.basil {
    background-color: #FFFBE6 !important;
  }
  .basil--text {
    color: #356859 !important;
  }

.v-item-group.theme--dark.v-slide-group.v-slide-group--has-affixes.v-slide-group--is-overflowing.v-tabs-bar.v-tabs-bar--show-arrows.white--text.cyan {

    background-color: #3f51b5!important;
    border-color: #3f51b5!important;
}

body {
    overflow-y: initial !important;
}

.ul-contact-main-content {

     height: 405px !important; 
}

.btn_search {
    position: relative;
    right: 50px;
    top: -11px;
    color: #ced4da !important; ;
    font-size: 20px !important; ;
}

